<form clrForm [formGroup]="usersForm">
  <clr-input-container>
    <label for="email">Email</label>
    <input clrInput type="text" formControlName="email" />
    <clr-control-error>Email is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label for="username">Username</label>
    <input clrInput type="text" formControlName="username" />
    <clr-control-error *clrIfError="'required'">
      Username is required
    </clr-control-error>
  </clr-input-container>
  <clr-password-container>
    <label for="password">Password</label>
    <input clrPassword formControlName="password" />
    <clr-control-error>Password is required</clr-control-error>
  </clr-password-container>
  <clr-control-container>
    <button (click)="submit()" class="btn btn-primary">Register</button>
  </clr-control-container>
</form>
