<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a [routerLink]="['/']" class="nav-link">
        <span class="title">Music Track</span>
      </a>
    </div>
    <div class="header-actions" *ngIf="!isLoggedIn(); else isLogged">
      <a [routerLink]="['users/login']" class="nav-link">
        <span class="nav-text">Login</span>
      </a>
      <a [routerLink]="['users/register']" class="nav-link">
        <span class="nav-text">Register</span>
      </a>
    </div>
    <ng-template #isLogged>
      <div class="header-actions">
        <a [routerLink]="['users/logout']" class="nav-link">
          <span class="nav-text">Logout</span>
        </a>
      </div>
    </ng-template>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav *ngIf="isLoggedIn()">
      <a [routerLink]="['/playlists']" class="nav-link">
        <span class="nav-text">Playlists</span>
      </a>
      <a [routerLink]="['/albums']" class="nav-link">
        <span class="nav-text">Albums</span>
      </a>
      <a [routerLink]="['/tracks']" class="nav-link">
        <span class="nav-text">Tracks</span>
      </a>
    </clr-vertical-nav>
  </div>
</div>
