<mat-drawer-container>
  <mat-drawer mode="side" [opened]="isSidenavOpened">
    <mat-list role="list">
      <mat-list-item [routerLink]="" role="navigation">Playlists</mat-list-item>
      <mat-list-item [routerLink]="" role="navigation">Albums</mat-list-item>
      <mat-list-item [routerLink]="" role="navigation">Tracks</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <button (click)="toggleSidenavOpened()">Hide Sidenav</button> 
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>