<div class="alert alert-danger" *ngIf="errorMessage !== ''" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <span class="alert-text">{{ errorMessage }}</span>
    </div>
  </div>
</div>

<form clrForm [formGroup]="usersForm">
  <clr-input-container>
    <label for="username">Username</label>
    <input clrInput type="text" formControlName="username" />
    <clr-control-error>Username is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label for="password">Password</label>
    <input clrInput type="text" type="password" formControlName="password" />
    <clr-control-error>Password is required</clr-control-error>
  </clr-input-container>
  <clr-control-container>
    <button (click)="submit()" class="btn btn-primary">Login</button>
  </clr-control-container>
</form>
